img {
    border-color: rgb(180, 16, 16);
    border-width: 10px;
    border-style: solid;
    border-radius: 20%;
}
.monika {
    font-size: 30px;
    border-color: purple;
    border-style: solid;
    border-width: 2px;
    
}

#dominik {
    font-size: 31px;

}

.div1 {
    border: solid;
    border-color:blue;
    background-color: pink;
    padding: 30px;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;    

}

.div2 {
    border: solid;
    border-color: rgb(139, 20, 20);
    background-color: rgb(65, 153, 194);
    padding:2px;
    margin-top: 10px;
    margin-right: 90px;
    margin-bottom: 10px;
    margin-left: 90px;    

}

.div3 {
    border: solid;
    border-color: rgb(126, 23, 23);
    background-color: rgb(190, 167, 132);
    padding: 20px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 300px;    

}

.border1 {
    border-width: 10px;
    border-color: white;
    background-color: rgb(157, 209, 224);
    padding: 15px;
    border-style: solid;
    font-weight: bold; 
    font-size: larger;  
    margin-right: 150px; 
    margin-left:90px;
  
}

.border2 {
    border-style: solid;
    border-width: 10px;
    border-bottom-width: 0;
    border-top-style: none;
    border-color: white;
    background-color: rgb(157, 209, 224);
    padding: 15px;
    font-size: larger; 
    margin-right: 150px;  
    margin-left:90px;
  
}

.border3 {
    border-width: 10px;
    border-color: white;
    background-color: rgb(157, 209, 224);
    padding: 10px;
    border-style: solid;
    font-size: larger;
    margin-right: 150px;   
    margin-left:90px;
  
}

.jedan {
    margin-top: 5px;
    margin-left: 250px;
    
}

.dva {
    border-width: 10px;
    border-color: white;
    background-color: white;
    border-style: solid;
    font-size: larger;   
    margin-left: 180px;
    margin-right: 180px;
    padding-left: 30px;

  
}